<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="main.Properties.Settings.telemetry_database_connection"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=SVTTELEMETRY;Integrated Security=True;Pooling=False"
            providerName="System.Data.SqlClient" />
        <add name="main.Properties.Settings.Database3ConnectionString"
            connectionString="Data Source=|DataDirectory|\Database3.sdf"
            providerName="Microsoft.SqlServerCe.Client.4.0" />
        <add name="main.Properties.Settings.SVTTELEMETRYConnectionString"
            connectionString="Data Source=|DataDirectory|\SVTTELEMETRY.sdf"
            providerName="Microsoft.SqlServerCe.Client.4.0" />
    </connectionStrings>
</configuration>